[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HealthMarkers"]
	path = HealthMarkers
	url = https://github.com/sufyansuleman/healthmarkers
[submodule "InsuSensCalc"]
	path = InsuSensCalc
	url = https://github.com/sufyansuleman/insusenscalc
[submodule "IsletCalc"]
	path = IsletCalc
	url = https://github.com/sufyansuleman/isletcalc
