[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "InsuSensCalc"]
	path = InsuSensCalc
	url = https://github.com/sufyansuleman/insusenscalc
